body {
    font-family: -apple-system;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: url(../images/bg_3.jpg) no-repeat fixed ;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

h1,h2,h3,h4,h5,h6{
    margin:0;
}

form {
    width: 350px;
    position: center;
    padding: 20px 50px 30px;
    background: rgba(0, 0, 0, 0.75); }

/*--header start here--*/
.header-main {
    padding: 45px 0px 45px;
    width: 30%;
    margin: auto;
}

.header-main h1{
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
}

/*bo tròn */
.sign-up {
    margin: 2em 0;
}

.sign-up h2 {
    font-size: 22px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background:#fac564;
    width: 40px;
    height: 40px;
    line-height: 1.5em;
    border-radius: 50%;
    margin: 0 auto;
}

.header-left-bottom input[type="text"] {
    background: url(../images/user_ic.png) no-repeat 0px 5px;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 12px 12px 10px 40px;
    border:none;
    border-bottom:1px solid #fff;
    width: 85%;
    margin: 0 0 10px;
    display: inline-block;
}
.header-left-bottom input[type="password"]{
    background: url(../images/lock_ic.png)no-repeat 0px 5px;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border:none;
    border-bottom:1px solid #fff;
    padding: 12px 12px 10px 40px;
    width: 85%;
    margin: 0 0 10px;
    display: inline-block;
}
.header-left-bottom input[type="submit"] {
    background: #fac564;
    color: #FFF;
    font-size: 26px;
    padding: 0.3em 1em;
    width: 100%;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-left-bottom input[type="submit"]:hover {
    background: #FFB900;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.remember {
    margin: 1em 0em;
}
.header-social {
    text-align: center;
}
h5 {
    border-left: 1px dotted #c3c3c3;
    padding: 0.5em;
}
.header-social a.face{
    background:url(../images/fb_icon.png)no-repeat 12px 9px #3B62A3;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0 2em;
    width: 25%;
    text-align: left;
    margin-right: 4%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    border-radius:3px;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-social a.face:hover{
    background:url(../images/fb_icon.png)no-repeat 12px 9px #0E387C;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
/*-- agileits --*/
.header-social a.twitt {
    background:url(../images/twitter_ic.png)no-repeat 12px 9px #19B0E7;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0 2.5em;
    width: 25%;
    text-align: left;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border-radius:3px;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-social a.twitt:hover {
    background: url(../images/twitter_ic.png)no-repeat 12px 9px #0192C7;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

label.checkbox {
    display: inline-block;
}

.checkbox i {
    font-size: 20px;
    font-weight: 400;
    color: #999;
    font-style: normal;
}

.forgot {
    float: right;
}
.forgot h6 {
    font-size: 20px;

}
.forgot h6 a{
    color:#efe8e8;
}
.forgot h6 a:hover{
    color:#FFB900;
}

/*--cheek box--*/

.register {
    float: left;
    padding-top: 15px;
    padding-bottom: 20px;
}
.register h6 {
    font-size: 18px;

}
.register h6 a{
    color:#efe8e8;
}
.register h6 a:hover{
    color:#FFB900;
}

.checkbox {
    margin-bottom: 4px;
    font-size: 1.2em;
    line-height: 27px;
    cursor: pointer;
}
.checkbox {
    position: relative;
    font-size: 0.95em;
    font-weight: normal;
    color:#efe8e8;
    padding: 0em 0.5em 0em 2.5em;
}
.checkbox i {
    position: absolute;
    bottom:5px;
    left: 2px;
    display: block;
    width: 18px;
    height: 18px;
    outline: none;
    background: #fff;
    border: 1px solid #6A67CE;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/tick_ic.png") no-repeat 5px 5px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input {
    position: absolute;
    left: -9999px;
}
.checkbox input:checked + i:after {
    opacity: 1;
}

/*--header end here--*/

