body {
    font-family: -apple-system;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: url(../images/bg_3.jpg) no-repeat fixed ;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

h1,h2,h3,h4,h5,h6{
    margin:0;
}

form {
    width: 500px;
    position: center;
    padding: 20px 50px 30px;
    background: rgba(0, 0, 0, 0.75); }

.header-main {
    padding: 45px 0px 45px;
    width: 45%;
    margin: 0 auto;
}

.header-main h3 {
    color: white;
    text-align: left;
    padding-bottom: 15px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.input-group {
    position: relative;
    margin-bottom: 22px;
}

.label {
    font-size: 16px;
    text-transform: capitalize;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input--style-4 {
    line-height: 30px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
}

.p-t-10 {
    padding-top: 10px;
}

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #57b846;
}

.checkmark {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e5e5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.m-r-90 {
    margin-right: 30px;
}

.p-t-15 {
    padding-top: 15px;
    /*position: relative;*/
    /*left: -160px;*/
}

input[type="submit"] {
    background: #fac564;
    color: #FFF;
    font-size: 20px;
    padding: 0.3em 1em;
    width: 40%;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}
input[type="submit"]:hover {
    background: #FFB900;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}