body {
    font-family: -apple-system;
    background: #121618;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    background: url(../images/bg_4.jpg) no-repeat fixed;
    background-size: cover;
}

.mr-1, .mx-1 {
    margin-right: 0.25rem !important;
}

.ml-auto, .ml-auto, .mx-auto {
    margin-left: auto !important;
}

.ftco-navbar-light {
    background: #121618 !important;
}

.ftco-navbar-light .navbar-brand {
    color: #fff;
    font-family: Algerian
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 18px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    opacity: 1 !important;
}

/*điều chỉnh menu*/

@media (min-width: 768px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
        color: rgba(255, 255, 255, 0.7);
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fac564;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #fac564;
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.navbar-brand {
    font-size: 35px;
    line-height: 1;
}

.navbar-brand span {
    font-size: 30px;
    color: #fac564;
}

.navbar-brand small {
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    color: #fac564;
    letter-spacing: 4px;
}

.home-slider {
    position: relative;
    height: 750px;
}

.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    z-index: 0;
    position: relative;
}

.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .7;
}

.home-slider .slider-item .slider-text {
    color: #fff;
    height: 750px;
    text-align: right;
}

.home-slider .slider-item .slider-text .subheading {
    font-family: "Nothing You Could Do", cursive;
    font-size: 30px;
    color: #fac564;
}

.btn {
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
}

.btn:hover, .btn:active, .btn:focus {
    outline: none;
}

.btn.btn-primary {
    background: #fac564;
    border: 1px solid #fac564;
    color: #000;
}

.btn.btn-primary:hover {
    border: 1px solid #fac564;
    background: transparent !important;
    color: #fac564;
}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid #fac564;
    background: transparent;
    color: #fac564;
}

.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #fac564;
    color: #fff;
}

.btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}

.btn.btn-white:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.btn.btn-white.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
    border-width: 1px;
    color: #fff;
}

.btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
    background: #fac564;
    border-color: #fac564;
    color: #000;
}

.ftco-footer {
    font-size: 16px;
    padding: 50px 0;
    background: #101315;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    font-family: -apple-system;
    letter-spacing: 1px;
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: #fff;
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer .ftco-heading-1 {
    color: #fff;
    font-family: Algerian
}

.ftco-footer .flaticon-pizza-1 {
    font-size: 40px;
    color: #fac564;
}

.ftco-heading-1 small {
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    color: #fac564;
    letter-spacing: 4px;
}

.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

.color {
    color: #fac564;
}

.color:hover, .color:active, .color:focus {
    color: white;
    font-style: oblique;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-menu {
    position: relative;
    width: 100%;
    display: block;
}

.fade {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
    .fade {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.menu-wrap {}

.menu-wrap .text {}

.menu-wrap .text h3 {
    font-size: 22px;
    height: 30px;
    margin-bottom: 20px;
    color: white;
}

/*.menu-wrap .text h3 a {*/
    /*color: white;*/
/*}*/

.menu-wrap .text .description {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    height: 150px;
}

.menu-wrap .text .price {
    font-size: 16px;
    align-content: normal;
    font-weight: 400;
}

.hero-wrap, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-wrap .menu-img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.ftco-menu .nav-link {
    border-radius: 0;
    margin-bottom: 0;
    color: #fac564;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    bordeR: 1px solid #fac564;
    margin-left: 5px;
    margin-right: 5px;
}

.ftco-menu .nav-pills .nav-link.active, .ftco-menu .nav-pills .nav-link:hover {
    color: black;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fac564;
    border: 1px solid transparent;
}

.ftco-menu .btn {
    border-radius: 0;
    margin-bottom: 0;
    color: white;
    font-size: 18px;
    background: transparent;
    font-weight: 400;
    position: relative;
    display: inline-block;
    bordeR: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
}

.ftco-menu .btn a {
    color: white;
}

.ftco-menu .btn.active, .ftco-menu .btn:hover {
    color: black;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fac564;
    border: 1px solid transparent;
}

.ftco-footer-social li a:hover {
    color: #fac564;
}

.block-23 ul {
    padding: 0;
}

.block-23 ul li, .block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.block-23 ul li span {
    color: rgba(255, 255, 255, 0.7);
}

.block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: gray;
}

.ftco-about {
    background: #000;
}

.ftco-about .one-half {
    width: 100%;
    padding: 30px 15px;
    padding: 5%;
    border-top-color: #fac564;
    border-width: 5px;
    width: 50%;
}

.ftco-about .one-half .img {
    display: block;
    height: 300px;
}

.ftco-about .one-half .heading-section {
    color: #fff;
    font-family: Algerian
}

.ftco-about .flaticon-pizza {
    font-size: 40px;
    color: #fac564;
}

#section-counter {
    position: relative;
    z-index: 0;
}

#section-counter .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .8;
}

#about {
    color: white;
    margin: 50px 60px;
}

#about h2 {
    margin-bottom: 50px;
}

#about h4 {
    margin-bottom: 20px;
}

#about p {
    font-size: 17px;
}

.ftco-section {
    padding: 4em 0;
    position: relative;
    font-size: 17px;
}

.ftco-section a {
    color: #fac564;
}

.ftco-section p {
    color: gray;
}

.ftco-section span {
    color: white;
}

.contact-form .form-group {
    position: relative;
    margin-top: 30px;
}

.contact-form .form-control {
    border: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
    height: 58px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 15px;
    border-radius: 0px;
    box-shadow: none !important;
}

.contact-form .form-control:focus, .contact-form .form-control:active {
    border-color: #fac564 !important;
}

.contact-form textarea.form-control {
    height: inherit !important;
}

.spad {
    padding-top: 105px;
    color: white;
    padding-bottom: 105px;
}

.cart-charge {
    padding: 30px 30px 0;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
}

.cart-table {
    padding: 40px 34px 0;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 27px;
    overflow: hidden;
}

.cart-table h3 {
    font-weight: 700;
    margin-bottom: 37px;
}

.cart-table table {
    width: 100%;
    color: white;
    min-width: 442px;
    margin-bottom: 17px;
}

.cart-table table tr th {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 25px;
}

.cart-table table tr th.product-th {
    text-align: left;
}

.cart-table table tr th.size-th {
    padding-right: 30px;
}

.cart-table table tr th.quy-th {
    padding-right: 20px;
}

.cart-table .product-col {
    display: table;
    margin-bottom: 15px;
}

.cart-table .product-col img {
    display: table-cell;
    vertical-align: middle;
    float: left;
    width: 70px;
    height: 70px;
}

.cart-table .product-col .pc-title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.cart-table .product-col .pc-title h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
}

.cart-table .product-col .pc-title p {
    margin-bottom: 0;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.cart-table .quy-col {
    padding-right: 20px;
}

.cart-table .quantity {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cart-table .quantity input {
    width: 50px;
}

.cart-table .size-col,
.cart-table .total-col,
.cart-table .delete {
    text-align: center;
}

.cart-table .size-col h4,
.cart-table .total-col h4,
.cart-table .delete h4 {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.cart-table .size-col h4 {
    padding-right: 30px;
    padding-left: 10px;
}

.cart-table .delete a {
    padding-left: 30px;
    position: relative;
    bottom: 5px;
    color: white;
}

.cart-table .delete a:hover {
    color: #fac564;
}

.cart-table .total-cost {
    background: #fac564;
    margin: 0 -34px;
    text-align: right;
    padding: 20px 0;
    padding-right: 50px;
}

.cart-table  hr {
    background: white;
    text-align: right;
    margin-left: 200px;
}

.cart-table .total-cost h6 {
    line-height: 1;
    font-size: 24px;
    position: relative;
    top: 3px;
    text-align: right;
    font-weight: 700;
    color: #fff;
}

.cart-table .total-cost span {
    line-height: 1;
    font-size: 24px;
    position: relative;
    top: 5px;
    text-align: right;
    font-weight: 700;
    color: #fff;
}

.card-right .site-btn {
    margin-bottom: 14px;
    width: 100%;
    min-height: 57px;
    padding: 23px 47px 14px;
}

.promo-code-form {
    position: relative;
    margin-bottom: 14px;
}

.promo-code-form input {
    width: 100%;
    height: 58px;
    border: 2px solid #f0f0f0;
    padding-left: 24px;
    padding-right: 100px;
    font-size: 16px;
    border-radius: 80px;
}

.promo-code-form button {
    position: absolute;
    right: 24px;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #fac564;
    cursor: pointer;
}

.promo-code-form button:hover {
    color: #FFB900;
}

.site-btn {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-width: 167px;
    padding: 18px 47px 14px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #fac564;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.site-btn:hover {
    background: #FFB900;
    color: white;
}

.site-btn.sb-dark {
    background: #413a3a;
}

.site-btn.sb-dark:hover {
    background: #413229;
}

.mi-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 11px;
    text-align: center;
    font-weight: 300;
    background: #fac564;
    color: #fff;
    border-radius: 5px;
    text-decoration-style: revert;
    line-height: normal;
    cursor: pointer;
}

.mi-button:hover {
    background: #FFB900;
    color: white;
}

.in-group {
    width: 30px;
    height: 30px;
    font-size: 14px;
    background: transparent !important;
    color: white;
    border: transparent;
    text-align: center;
}
