body {
    font-family: -apple-system;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
    color: rgb(114, 102, 102);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }