<div class="sidebar" data-color="purple" data-image="../trung/assets/img/trung.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Pizza team
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="../chart/index.php">
                    <i class="pe-7s-graph"></i>
                    <p>Thông kê món ăn và doanh thu</p>
                </a>
            </li>
            <li>
                <a href="../trung/user.php">
                    <i class="pe-7s-user"></i>
                    <p>Thông tin đăng ký</p>
                </a>
            </li>
            <li>
                <a href="all_order.php">
                    <i class="pe-7s-news-paper"></i>
                    <p>Quản lý order</p>
                </a>
            </li>
            <li>
                <a href="ds_menu.php">
                    <i class="pe-7s-note2"></i>
                    <p>Quản lý menu</p>
                </a>
            </li>
            <li>
                <a href="promotion.php">
                    <i class="pe-7s-gift"></i>
                    <p>Quản lý khuyến mãi</p>
                </a>
            </li>
            <li>
                <a href="login.php">
                    <i class="pe-7s-news-paper"></i>
                    <p>Đăng xuất</p>
                </a>
            </li>
        </ul>
    </div>
</div>