<div class="sidebar" data-color="purple" data-image="../trung/assets/img/trung.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Pizza team
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="../chart/index.php">
                    <i class="pe-7s-graph"></i>
                    <p>Thông kê món ăn và doanh thu</p>
                </a>
            </li>
            <li>
                <a href="../trung/user.php">
                    <i class="pe-7s-user"></i>
                    <p>Thông tin đăng ký</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#a" aria-expanded="true">
                    <i class="pe-7s-airplay"></i>
                    <p>
                    <p class="dropdown-btn">Quản lý order</p>
                    </p>
                </a>
                <div id="a">
                    <ul class=" nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../html_nv/all_order.php">
                                <p>Xem tất cả order </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html_nv/them_order.php">
                                <p>Thêm order</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html_nv/ds_menu.php">
                                <p>Món ăn</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="../html_nv/login.php">
                    <i class="pe-7s-news-paper"></i>
                    <p>Đăng xuất</p>
                </a>
            </li>
        </ul>
    </div>
</div>